{
  "root": true,
  "ignorePatterns": ["node_modules"],
  "env": {
    "node": true,
    "es2022": true
  },
  "plugins": ["simple-import-sort"],
  "extends": ["eslint:recommended", "plugin:@typescript-eslint/recommended", "prettier"],
  "rules": {
    "sort-imports": "off",
    "simple-import-sort/imports": [
      "error",
      {
        "groups": [
          ["^\\u0000"],
          ["^react$", "^react-dom"],
          ["^@?\\w"],
          ["^~"],
          ["^."],
          [".scss", ".svg", ".png"]
        ]
      }
    ],
    "simple-import-sort/exports": "error"
  },
  "overrides": [
    {
      "files": ["**/*.mjs"],
      "parserOptions": {
        "sourceType": "module"
      }
    },
    {
      "files": ["{src,plugins}/**/*.ts?(x)"],
      "settings": {
        "react": {
          "version": "detect"
        }
      },
      "env": {
        "node": false,
        "browser": true
      },
      "extends": [
        "eslint:recommended",
        "plugin:@typescript-eslint/recommended",
        "plugin:react-hooks/recommended",
        "plugin:jsx-a11y/recommended",
        "prettier"
      ]
    }
  ]
}
