@mixin selection-effect {
  user-select: none;
}

.radio-button {
  display: flex;
  align-items: center;
  @include selection-effect;

  &.disabled {
    cursor: default;
  }
}

.radio-button-label {
  margin-left: 8px;
  font-size: 14px;
  line-height: 24px;
}
