.badge {
  position: relative;
  display: inline-flex;
  align-items: center;

  .type-count {
    display: none;
    box-sizing: border-box;

    width: auto;
    min-width: 25px;
    height: 16px;
    border-radius: 16px;
    background-color: #e2e8ec;
    color: rgba(6, 11, 17, 0.48);
    text-align: center;
    padding: 0 5px;
    margin-left: 5px;
    font-size: 14px;

    &.visible {
      display: inline-flex;
      align-items: center;
    }
  }

  .type-label {
    display: none;
    box-sizing: border-box;

    width: auto;

    font-size: 12px;
    font-weight: 600;
    line-height: 18px;
    padding: 3px 7px;
    margin-left: 5px;

    border: 1px solid;
    border-radius: 16px;

    &.red {
      border-color: #ff3c3c;
      color: #ff3c3c;
    }

    &.blue {
      border-color: #008dff;
      color: #008dff;
    }

    &.gray {
      border-color: #b2bac2;
      color: rgba(6, 11, 17, 0.48);
    }

    &.small {
      height: 16px;
    }

    &.large {
      height: 24px;
    }

    &.visible {
      display: inline-flex;
      align-items: center;
    }
  }
}
